<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles/style1.css">
</head>

<body>
    <div class="main">
        <div id="app">
            <table>
                <tr v-for="row in rows">
                    <td v-for="cell in row" v-bind:x=cell.x v-bind:y=cell.y v-bind:class="cell.color"
                        v-on:mouseover="setCoordinates(cell.x, cell.y)" v-on:click="cellClick(cell.x, cell.y)">
                        <component v-bind:is="cell.component" v-bind:title="cell.v" v-bind:cell="cell"
                            v-bind:key="counter"></component>
                    </td>
                </tr>
            </table>

            <div class="panel-menu">
                <label>Режим</label>
                <select v-model="currentMode">
                    <option v-for="item,id in modes" v-bind:value="id"><span class="red">{{item}}</span></option>
                </select>
                <div class="mm-inline">
                    <div v-for="i in colors" class="m-inline" @click="currentColor=i">
                        <div class="m-td" :class="i"></div>
                    </div>
                    <div v-for="i in div_dig" class="m-inline" @click="currentDigit=i">
                        <div class="m-td" v-bind:class="{grey: currentDigit==i}">{{i}}</div>
                    </div>
                </div>
                <button v-on:click="saveGame">Сохранить</button>
                <table>
                    <tr v-for="game in games">
                        <td>{{game.key}}</td>
                        <td><button @click="restoreGame(game.key)">Восстановить</button>

                            <button @click="deleteGame(game.key)">Удалить</button>
                        </td>
                    </tr>
                </table>


            </div>
        </div>

    </div>
    <script src="./tools/vue.js"></script>
    <script src="./tools/httpVueLoader.js"></script>
    <script src="./scripts/board.js"></script>
</body>

</html>