* {
    margin: 0;
    padding: 0;
}

.main {
    font-size: 2vmin;
}

/* .e-hint {
    background: rgb(176, 224, 176);
    width: 5em;
    height: 5em;
    font-size: 1em;


    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2px;
    align-items: center;
    
    text-align: center;
}

.e-digit {
    background: rgb(235, 212, 4);
    width: 5em;
    height: 5em;
    font-size: 1em;
    text-align: center;
    align-items: center;
    display: grid;
}

.e-digit > div {
    font-size: 4em;
 }



 .e-center-hint {
    background: rgb(179, 14, 14);
    width: 5em;
    height: 5em;
    font-size: 1em;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, auto);

}

.e-center-hint2 {
    background: white;
    width: 5em;
    height: 5em;
    font-size: 1em;
    text-align: center;
    align-items: center;
    display: grid;

}

.e-center-hint2 > div {
    font-size: 1em;
}

.e-center-hint > div {
    font-size: 1em;
} */

td {
    width: 5em;
    height: 5em;
    background: rgb(235, 227, 227);
    font-size: 1em;
    margin: 0;
    padding: 0;
}

.red{
    background-color: rgb(248, 105, 105);
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: rgb(50, 242, 50);
}
.plum{
    background-color: plum;
}
.burlywood{
    background-color: burlywood;
}
.aquamarine{
    background-color: aquamarine;
}

.black {
    background-color: black;
}

.grey {
    background-color: grey;
}

.pink {
    background-color: pink;
}


table {
    border-collapse: collapse;
    display: inline-grid;
    margin: 1em 0 0 1em;
}

/* td {
    border: 2px solid gray;
} */

/* td:nth-of-type(3n) {
    border-right: 5px solid gray;
} */

td:nth-of-type(even) {
    border: 1px solid black;
}

td:nth-of-type(1) {
    border-left: 5px solid black;
}

td:nth-of-type(odd) {
    border: 1px solid black;
}

tr:nth-of-type(even) {
    border: 1px solid black;
}

tr:nth-of-type(odd) {
    border: 1px solid black;
}

.panel-menu {
    display: inline-grid;
    margin: 1em 0 0 1em;
    font-size: 4vmin;
}

.mm-inline{
    display: grid;
    
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    margin: 5px;
}

.m-inline{
    display: grid; 
}

.m-td{
    /* width: 9vmin;
    height: 9vmin; */
    box-sizing: border-box;
    width: 1.2em;
    height: 1.2em;
    /* width: 50px;
    height: 50px; */
    /* font-size: 8vmin; */
    /* font-size: 0.4em; */
    text-align: center;
    border: 1px solid slategray;
    margin: 1px;
    display: inline-grid;
}









