* {
    margin: 0;
    padding: 0;
}

.main {
    font-size: 2vmin;
}

.red{
    background-color: rgb(248, 105, 105);
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: rgb(50, 242, 50);
}
.plum{
    background-color: plum;
}
.burlywood{
    background-color: burlywood;
}
.aquamarine{
    background-color: aquamarine;
}

.black {
    background-color: royalblue;
}

.grey {
    background-color: rgba(224, 218, 218, 0.993);
}

.pink {
    background-color: pink;
}


table {
    border-collapse: collapse;
    display: inline-grid;
    margin: 1em;
    /* border: 5px solid black; */
}

td {
    width: 5em;
    height: 5em;
    background: rgb(235, 227, 227);
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: 0.1px solid gray;
}

td:nth-of-type(3n) {
    border-right: 3px solid gray;
}

td:nth-of-type(1) {
    border-left: 3px solid gray;
}

tr:nth-of-type(3n) {
    border-bottom: 3px solid gray;
}

tr:nth-of-type(1) {
    border-top: 3px solid gray;
}

.panel-menu {
    display: inline-grid;
    margin: 1em;
    font-size: 4vmin;
}

.mm-inline{
    display: grid;
    grid-template-rows: repeat(9, auto);
    grid-template-columns: repeat(9, auto);
}



.m-td{
    width: 1.2em;
    height: 1.2em;
    text-align: center;
    border: 1px solid slategray;
    margin: 1px;
}









